<div class="modal-back" *ngIf="isOpen">
  <div class="modal">
    <div class="modal-header">
      <h2>Add Patient</h2>
      <button class="close-button" (click)="closeModal()">X</button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="submitAdd()">
        <label>{{errorMessage}}</label>
        <div class="form-group">
          <label for="fullName">Full Name</label>
          <input class="data-input" type="text" id="fullName" [(ngModel)]="newPatient.fullName" name="fullName" placeholder="Samuel Hayden" required>
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <div class="radio-group">
            <label><input type="radio" [(ngModel)]="newPatient.gender" name="gender" value="m" required> Male</label>
            <label><input type="radio" [(ngModel)]="newPatient.gender" name="gender" value="f" required> Female</label>
          </div>
        </div>
        <div class="form-group">
          <label for="dateOfBirth">Date Of Birth</label>
          <input class="data-input" type="date" id="dateOfBirth" [(ngModel)]="newPatient.dateOfBirth" name="dateOfBirth" placeholder="2000-01-05" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input class="data-input" type="email" id="email" [(ngModel)]="newPatient.email" name="email" placeholder="newLad@gmail.com">
        </div>
        <div class="form-group">
          <label for="contactNumber">Phone Number</label>
          <input class="data-input" type="tel" id="contactNumber" [(ngModel)]="newPatient.contactNumber" name="contactNumber" placeholder="380680123456">
        </div>
        <div>
          <button type="submit" [disabled]="newPatient.dateOfBirth == null ||newPatient.dateOfBirth.length < 1 || newPatient.fullName == null || newPatient.fullName.length < 1">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
