<button (click)="goBack()">&lt;-Back</button>
<div>
  <label>
    Year:
    <select [(ngModel)]="selectedYear" (change)="updateMonths()">
      <option *ngFor="let year of availableYears" [value]="year">{{year}}</option>
    </select>
  </label>

  <label>
    Month:
    <select [(ngModel)]="selectedMonth" (change)="updateChart()">
      <option [ngValue]="null">{{null | monthTransform}}</option>
      <option *ngFor="let month of availableMonths" [value]="month">{{month | monthTransform }}</option>
    </select>
  </label>
</div>


<div id="divChart">
  <h2>Revenue by lab</h2>
  <canvas id="myChart">
  </canvas>
</div>
