.data-input {
  border-radius: 2px;
  width: 70%;
  font-size: 16px;
}
button {
  width: 100px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
  height: 25px;
  font-size: 16px;
  margin-top: 10px;
}
