<div class="modal-back" *ngIf="isOpen">
  <div class="modal">
    <div class="modal-header">
      <h2>Enter email</h2>
      <button class="close-button" (click)="closeModal()">X</button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="submitEmail()">
        <div class="form-group">
          <label for="email">Your email</label>
          <input class="data-input" type="text" id="email" [(ngModel)]="email" name="email" required>
        </div>
        <div>
          <button type="submit" [disabled]="email.length<3">Send code</button>
        </div>
      </form>
    </div>
  </div>
</div>
