<div *ngIf="errorMessage" class="error">
  {{ errorMessage }}
</div>

<div>
  <form (ngSubmit)="onSubmit()">
    <input name="batchId" id ="batchId" type="number" [(ngModel)]="batchId" required/>
    <button type="submit">Find</button>
  </form>
</div>
<button (click)="loadBatches()">Refresh</button>

<app-pagination [pageSize]="pageSize"
                [currentPage]="page"
                [totalPages]="totalPages"
                (pageChanged)="onPageChange($event)">
</app-pagination>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Date of creation</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let batch of batches">
      <td>
        {{batch.testBatchId}}
      </td>
      <td>
        {{batch.dateOfCreation | date: 'yyyy-MM-dd' }}
      </td>
      <td><button (click)="onBatchClick(batch.testBatchId)">Enter results</button></td>
    </tr>
  </tbody>
</table>
