/* You can add global styles to this file, and also import other style files #afffa0 */
:root {
  --background-color: #f2f2ff;
  --page-background-color: #ffffff;
  --text-color: #212121;
  --button-back-color: #83C2E3;
  --danger-back-color: #ff5d5d;
  --disabled-color: #696b85;
  --header-back-color: #211446;
  --header-text-color: #ffffff;
  --header-hover-color: #352269;
  --modal-background-color: #fafcff;
  --visited-color: #330066;
  --table-alt-color: #fafafa;
  --table-border-color: #ABA2AB;
  --table-border-color-fill: #CBC2FB;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Dark theme */
[data-theme="dark"] {
  --background-color: #121212;
  --page-background-color: #333333;
  --text-color: #eeeeee;
  --button-back-color: #382375;
  --danger-back-color: #9a2f2f;
  --disabled-color: #212121;
  --header-back-color: #211446;
  --header-text-color: #ffffff;
  --header-hover-color: #170e2f;
  --modal-background-color: #282828;
  --visited-color: #6e00db;
  --table-alt-color: #303030;
  --table-border-color: #050505;
  --table-border-color-fill: #222222;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

app-root {
  padding: 0 !important;
}

button {
  background-color: var(--button-back-color);
  color: var(--text-color);
  cursor: pointer;
}

  button:disabled {
    background-color: var(--disabled-color);
    color: var(--text-color);
    cursor: default;
  }

.bad-button {
  background-color: var(--danger-back-color);
}

.modal-back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000087;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: var(--modal-background-color);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  margin-top: 10px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  padding: 5px;
}

.howToCenterDiv {
  display: flex;
  justify-content: center;
}

.fully-centered {
  margin: 0;
  display: flex;
  height: 100vh;
  align-items: center;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

a:visited {
  color: var(--visited-color);
}

table tr:nth-child(odd) {
  background-color: var(--background-color);
}

table tr:nth-child(even) {
  background-color: var(--table-alt-color);
}

tbody tr:hover {
  background-color: var(--button-back-color);
}

table {
  border: 2px solid var(--table-border-color);
  border-radius: 4px;
  background-color: var(--table-border-color-fill);
  width: 100%;
}

th, td {
  text-align: left;
  border: 1px solid var(--table-border-color);
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

  td button {
    margin-left: 0;
  }

.nice-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

:root button.back-button {
  width: 80px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
  height: 25px;
  font-size: 16px;
  margin-top: 20px;
}
:root button.close-button {
  width: 25px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
  height: 25px;
  font-size: 16px;
}
