.list-page {
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  background-color: var(--page-background-color);
  margin-top: 20px;
  padding: 20px;
}
