<button class="back-button" (click)="goBack()">&lt;-Back</button>

<div class="nice-container">
  <div class="statistics-page">
    <div>
      <label>
        Category:
        <select class="data-input" [(ngModel)]="selectedCategory" (change)="updateYears()">
          <option *ngFor="let category of availableCategories" [value]="category">{{category}}</option>
        </select>
      </label>
      <label>
        Year:
        <select class="data-input" [(ngModel)]="selectedYear" (change)="updateMonths()">
          <option [ngValue]="null">{{null | monthTransform}}</option>
          <option *ngFor="let year of availableYears" [value]="year">{{year}}</option>
        </select>
      </label>

      <label>
        Month:
        <select class="data-input" [(ngModel)]="selectedMonth" (change)="updateChart()">
          <option [ngValue]="null">{{null | monthTransform}}</option>
          <option *ngFor="let month of availableMonths" [value]="month">{{month | monthTransform }}</option>
        </select>
      </label>
    </div>

    <div id="divChart">
      <h2>Test orders count</h2>
      <p>Total: {{total}}</p>
      <canvas id="myChart">
      </canvas>
    </div>
  </div>
</div>
