<button class="back-button" (click)="goBack()">&lt;-Back</button>
<div *ngIf="errorMessage">{{errorMessage}}</div>
<div class="nice-container">
  <div class="test-editor-page">
    <h2>Test Type Editor</h2>
    <button (click)="additionModal.openModal()">Add a test type</button>

    <app-pagination [pageSize]="pageSize"
                    [currentPage]="currentPage"
                    [totalPages]="totalPages"
                    [totalCount]="totalCount"
                    (pageChanged)="onPageChange($event)">
    </app-pagination>

    <table *ngIf="testTypes.length > 0;">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Cost</th>
          <th>Unit</th>
          <th class="action-column">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of testTypes">
          <td>{{test.testTypeId}}</td>
          <td>{{test.name}}</td>
          <td>{{test.cost}}</td>
          <td>{{test.measurementsUnit | superscript}} </td>
          <td>
            <button class="edit-button" (click)="editModal.openModal(test)">Edit</button>
            <button class="edit-tnv-button" (click)="onTestSelectNormalValues(test.testTypeId, test.name)">Edit normal values</button>
            <button class="bad-button delete-button edit-button" (click)="deleteTestType(test.testTypeId)">-</button>
            <button class="bad-button disable-button edit-button" (click)="toggleTestType(test.testTypeId)" *ngIf="test.isActive == 1">Disable</button>
            <button class="good-button enable-button edit-tnv-button" (click)="toggleTestType(test.testTypeId)" *ngIf="test.isActive == 0">Enable</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-test-general-editor #editModal
                         (updateSuccessful)="onUpdateSuccess()">
</app-test-general-editor>
<app-test-general-add #additionModal
                      (additionSuccessful)="onAdditionSuccess()"></app-test-general-add>
