.pagination-container {
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top: 20px;
    flex-direction:column;
}

button {
  margin: 0 10px;
  border-radius: 5px;
  font-size: 14px;
}
