<div class="login-container">

  <div class="login-header">
    <h1>Medlab</h1>
    <img src="assets/logo.png" alt="Company logo" class="login-logo" />
  </div>

  <form (ngSubmit)="onSubmit()" class="login-form">
    <div class="login-group">
      <label for="login">Login</label>
      <input class="login-input" id="login" [(ngModel)]="loginModel.login" name="login" required />
    </div>
    <div class="login-group">
      <label for="password">Password</label>
      <input class="login-input" id="password" [(ngModel)]="loginModel.password" name="password" type="password" required />
    </div>
    <div class="form-buttons-container">
      <button type="submit">Login</button>
      <button type="button" (click)="emailInputModal.openModal()">Register</button>
    </div>
    <div class="error">{{errorMessage}}</div>
  </form>
</div>


<app-email-input #emailInputModal
                 (emailEntered)="codeInputModal.openModal($event)">
</app-email-input>

<app-code-input #codeInputModal
                (codeEntered)="newAccountModal.openModal($event)">
</app-code-input>

<app-new-account #newAccountModal>
</app-new-account>
