<button class="back-button" (click)="goBack()">&lt;-Back</button>
<div class="howToCenterDiv">
  <div class="form-group">
    <label for="begin">From:</label>
    <input name="begin" id="begin" type="datetime-local" [(ngModel)]="begin">
  </div>
  <div class="form-group">
    <label for="end">To:</label>
    <input name="end" id="end" type="datetime-local" [(ngModel)]="end">
  </div>
</div>
<div class="howToCenterDiv">
  <button (click)="loadLogs()">Load logs</button>
</div>
<app-pagination [pageSize]="pageSize"
                [currentPage]="currentPage"
                [totalPages]="totalPages"
                [totalCount]="totalCount"
                (pageChanged)="onPageChange($event)">
</app-pagination>
<table *ngIf="logs.length > 0;">
  <thead>
    <tr>
      <th *ngFor="let column of columnNames">{{column}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let log of logs">
      <td *ngFor="let column of columnNames">{{log[column]}}</td>
    </tr>
  </tbody>
</table>
