<div>
  <div>
    <input [(ngModel)]="searchQueryName" placeholder="Name" />
    <input [(ngModel)]="searchQueryPhone" placeholder="Phone" />
    <input [(ngModel)]="searchQueryEmail" placeholder="Email" />
    <input [(ngModel)]="searchQueryDateOfBirth" placeholder="Date Of Birth" />
   </div>
  <button (click)="onSearch()">Search</button>
  <button (click)="addModal.openModal()">Add</button>
</div>

<div *ngIf="errorMessage">{{errorMessage}}</div>

<app-pagination [pageSize]="pageSize"
                [currentPage]="currentPage"
                [totalPages]="totalPages"
                [totalCount]="totalCount"
                (pageChanged)="onPageChange($event)">
</app-pagination>
<table *ngIf="patients.length > 0;">
  <thead>
    <tr>
      <th *ngFor="let column of columnNames">{{column}}</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients">
      <td *ngFor="let column of columnNames">{{patient[column]}}</td>
      <td><button (click)="onPatientSelect(patient.patientID, patient.fullName)">Add Order</button></td>
    </tr>
  </tbody>
</table>


<app-patient-add-modal #addModal
                       (additionSuccessful)="onAddSuccess()"
></app-patient-add-modal>
